* {
    font-family: 'Covered By Your Grace', cursive; 
    margin: 0; 
}

body {
    background-color: #FFBF00; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-container {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.button-container {
    padding-bottom: 10vh;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}

button.choice {
    flex: 1;
    background-color: green; 
    margin: 1vh;
    padding: 0.5em;
    font-size: 3em;
    border: 0.15em solid black;
    min-width: 30vh;
 }

 button.choice:hover {
    transform: scale(1.15);
    max-width: 95vw;
    border-radius: 25px;
 }

.score-container {
    font-size: 2em;
    padding: 0.5em 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-msg-txt {
    text-align: center;
    margin-bottom: 0.5em;
}

#scoreboard {
    max-width: max-content;
    text-align: center;
}

.goodbye {
    font-size: 3em;
    text-align: center;
    max-height: max-content;
}

.footer-container {
    flex-shrink: 0;
}

.footer-container ul {
    padding: 2vh;
    list-style-type: none;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mfb-logo {
    max-height: 50px
}

a {
    text-decoration: none; 
}